label {
    margin: 5px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5450F4;
}

input {
    font-family: Roboto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border-style: none;
    outline: none;
    padding-left: 5%;
}

input[type=button] {
    margin-top: 60px;
    color: #FFFFFF;
    background: #5450F4;
    border-radius: 30px;
    font-size: 150%;
}